.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-content {
  position: relative;
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  padding: 20px;
  font-size: 14px;
  column-gap: 40px;
}

.primary-content {
  width: 60%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.secondary-content {
  flex-basis: 50%;
}

.widget-title {
  color: #4CAF50;
  font-size: 1.5em;
}

.widget-list {
  list-style-type: none;
}

.content-description {
  text-align: justify;
  margin-bottom: 20px;
}

.form-elements {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}


@media only screen and (max-width: 1000px) {
  .main-content {
    flex-direction: column;
    font-size: 12px;
    row-gap: 40px;
  }

  .primary-content {
    width: 100%;
  }

}
