<!-- app.component.html -->
<div class="main-container">
  <div class="mycontainer">
    <carousel>
      <slide>
        <img src="assets/upload/005.jpg" alt="Slide 1" />
        <div class="slide-text">
          <div class="slide-title">FONDATION<br />ABDELOUAHED EL KADIRI</div>
        </div>
      </slide>
      <slide>
        <img src="assets/upload/007.jpg" alt="Slide 2" />
        <div class="slide-text">
          <div class="slide-title">CYCLES DE FORMATION</div>
        </div>
      </slide>
      <slide>
        <img src="assets/upload/006.jpg" alt="Slide 3" />
        <div class="slide-text">
          <div class="slide-title">SOUTIEN SOCIAL</div>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class="content-container-1">
  <div class="title">
    ABDELOUAHED EL KADIRI<br />UN HOMME, UNE FONDATION, UN PROJET
  </div>

  <div class="parts">
    <div class="part">
      <h5>Une fondation d'utilité <br />publique</h5>
      <p>
        Guidée par des valeurs humaines universelles telles que le partage du
        Savoir et la promotion de l'Art et de la Culture, valeurs si chères
        d'ailleurs à nos authentiques résistants, la famille EL KADIRI a eu
        l'idée de créer une Fondation dont l'objet social serait «
        l'encouragement et le développement de l'instruction, du sport, des
        arts, de la culture, de la recherche scientifique, de la formation et de
        l'éducation.
      </p>
    </div>
    <div class="part">
      <h5>Une fondation comme un devoir <br />de mémoire</h5>
      <p>
        Pour donner à cette fondation tout son sens, les membres fondateurs ont
        tenu à la doter d'une mémoire, d'une histoire; celle d'un authentique
        résistant qui a consacré justement toute sa vie à la défense de valeurs
        humaines universelles telles que la Liberté, la Dignité et le Savoir.
        Cette personne n'est autre que Feu Abdelouahed El Kadiri.
      </p>
    </div>
    <div class="part">
      <h5>Une fondation sensible <br />au développement de l'Homme</h5>
      <p>
        Pour qu'elle puisse communiquer adéquatement sur cette période riche de
        l'histoire marocaine et transmettre un message fort à la jeunesse
        d'aujourd'hui, la Fondation Abdelouahed El Kadiri a opté pour une
        approche éclectique choisissant de porter différents projets du moment
        qu'ils contribuent au développement de valeurs humaines universelles si
        chères à son éponyme..
      </p>
    </div>
  </div>
</div>

<!-- app.component.html -->
<div class="content-container-2">
  <div class="text-container">
    <div class="min-title">Et le rêve</div>
    <h1>DEVIENT RÉALITÉ</h1>
    <p>
      Le Complexe Culturel Abdelouahed El Kadiri vient arc-bouter la volonté de
      Sa Majesté Le Roi Mohammed VI, que Dieu le glorifie, de faire de l'élément
      culturel un levier du développement territorial et du rayonnement des
      villes : un pole culturel polyvalent qui aura pour mission la promotion de
      l'activité artistique dans la ville d'El Jadida, (cinéma, musique,
      théâtre, etc.) et la symbiose des générations de différentes catégories
      sociales et culturelles. Le projet trouve son inspiration dans une lecture
      des éléments constitutifs des paysages naturels et urbains.
    </p>
  </div>
  <div class="video-container">
    <!-- Replace the video URL with your actual video source -->
    <video
      width="360"
      src="assets/upload/video.mp4"
      controls
    ></video>
  </div>
</div>

<div class="content-container-1">
  <div class="parts">
    <div class="part">
      <div class="img-container">
        <img src="assets/upload/service1.jpg" />
      </div>
      <h5>La médiathèque</h5>
      <p>
        La mission de la médiathèque du complexe Culturel Abdelouahed El Kadiri
        est de contribuer à une démarche d'éducation permanente par la mise à
        disposition du public d'informations et de documentations sur differents
        supports (numériques et traditionnels) Pour ce faire, la médiathèque est
        aménagée sur une surface de 2 446.50 m2.
      </p>
    </div>
    <div class="part">
      <div class="img-container">
        <img src="assets/upload/service2.jpg" />
      </div>
      <h5>Le théâtre et les deux salles de cinéma</h5>
      <p>
        Le projet du complexe Culturel Abdelouahed El Kadiri prévoit la
        réalisation d'une salle de théâtre et de deux salles de cinéma. Le but
        est d'encourager toutes les formes d'expression créatrices en mettant à
        la disposition des associations culturelles et du public en général des
        espaces de création, d'expression et de communication disposant de
        toutes les avancées dans le domaine acoustique, visuel et scénique.
      </p>
    </div>
    <div class="part">
      <div class="img-container">
        <img src="assets/upload/service3.jpg" />
      </div>
      <h5>Galerie d'exposition de peinture et salle de cours de musique et d'art</h5>
      <p>
        La galerie d'art de la Fondation Abdelouahed El Kadiri, un lieu
        d'exposition permettant au public de nouer des rencontres artistiques :
        peinture, sculpture, photographie, œuvres conceptuelles, etc. A travers
        ses expositions, la Fondation s’engage à promouvoir la création
        artistique moderne et contemporaine et contribue à son rayonnement tant
        sur le plan national qu’international.
      </p>
    </div>
  </div>
</div>
