<div class="ppb_wrapper">
  <div class="one withsmallpadding" style="
      background-image: url({{data.image}});
    ">
    <div class="standard_wrapper">
      <div class="page_content_wrapper">
        <div class="inner">
          <div class="one_half_bg">
            <h2 class="ppb_title">
              {{data.title}}
            </h2>
            <div class="page_header_sep"></div>
            <p>
              {{data.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
